<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Books</title>
</head>
<body>
    <ul class="NavBar">
        <ul class="Menu">
            <h1 class="Heading">BOOKS</h1>
            <ul class="Link">
                <li><a href="/#Home" class="h">Home</a></li>
                <li><a href="/#About" class="a">About</a></li>
                <li><a href="/#Contact" class="c">Contact</a></li>
            </ul>
            <ul class="Lang">
                <div class="Map">
                    <img src="images/Britain.png" />
                </div>
                <h2 class="Name">ENG</h2>
            </ul>
        </ul>
    </ul>
    <div class="BadiBody">
        <section class="c1">
            <p class="Buttons">
                <a href="/index5"><button class="Button_Student"><img src="images/list.png" alt=""><br>Book List</button></a>
                <a href="#divOne"><button class="Button_Books"><img src="images/Add_book.png" alt=""><br>Add Book</button></a>
            </p>
            <div class="logo">
                <img class="logo_ans" src="images/42b1c35eb06a50a9fdfa5feee5071a3e-removebg-preview.png" alt=""> 
            </div>
            <div class="overlay" id="divOne">
                <div class="wrapper">
                    <h2>Book Registeration Form</h2><a class="close" href="#">&times;</a>
                    <div class="content">
                        <div class="container">
                            <form action="/index3" method="post">
                                <label>Title</label>
                                <input placeholder="Book Name" type="text" id="Title" name="Title" required>
                                <label>Author</label>
                                <input placeholder="Author Name" type="text" id="Author" name="Author" required>
                                <label>Code</label> 
                                <input placeholder="Code of the Book" type="text" id="Code" name="Code" required>
                                <label>Description</label> 
                                <textarea iplaceholder="Write the Description" id="Description" name="Description" required>{{note.description}}</textarea>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</body>
</html>